<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[horse]</string>
		<key>cht</key>
		<string>[horse]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_madaochenggong.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[yuanxiao]</string>
		<key>cht</key>
		<string>[yuanxiao]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_chitangyuan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[gettheoneimmediately]</string>
		<key>cht</key>
		<string>[gettheoneimmediately]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_duixiang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[redenvelopes]</string>
		<key>cht</key>
		<string>[redenvelopes]</string>
		<key>gif</key>
		<string>o_fahongbao.gif</string>
		<key>png</key>
		<string>o_fahongbao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[friedchickenandbeer]</string>
		<key>cht</key>
		<string>[friedchickenandbeer]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_zhajipijiu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[takemicroblogforatrip]</string>
		<key>cht</key>
		<string>[takemicroblogforatrip]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_travel.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[right]</string>
		<key>cht</key>
		<string>[right]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_zuiyou.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[smile]</string>
		<key>cht</key>
		<string>[smile]</string>
		<key>gif</key>
		<string>d_hehe.gif</string>
		<key>png</key>
		<string>d_hehe.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[xixi]</string>
		<key>cht</key>
		<string>[xixi]</string>
		<key>gif</key>
		<string>d_xixi.gif</string>
		<key>png</key>
		<string>d_xixi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[haha]</string>
		<key>cht</key>
		<string>[haha]</string>
		<key>gif</key>
		<string>d_haha.gif</string>
		<key>png</key>
		<string>d_haha.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[love]</string>
		<key>cht</key>
		<string>[love]</string>
		<key>gif</key>
		<string>d_aini.gif</string>
		<key>png</key>
		<string>d_aini.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[nose]</string>
		<key>cht</key>
		<string>[nose]</string>
		<key>gif</key>
		<string>d_wabishi.gif</string>
		<key>png</key>
		<string>d_wabishi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[amazed]</string>
		<key>cht</key>
		<string>[amazed]</string>
		<key>gif</key>
		<string>d_chijing.gif</string>
		<key>png</key>
		<string>d_chijing.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[halo]</string>
		<key>cht</key>
		<string>[halo]</string>
		<key>gif</key>
		<string>d_yun.gif</string>
		<key>png</key>
		<string>d_yun.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[cry]</string>
		<key>cht</key>
		<string>[cry]</string>
		<key>gif</key>
		<string>d_lei.gif</string>
		<key>png</key>
		<string>d_lei.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[greedy]</string>
		<key>cht</key>
		<string>[greedy]</string>
		<key>gif</key>
		<string>d_chanzui.gif</string>
		<key>png</key>
		<string>d_chanzui.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[crazy]</string>
		<key>cht</key>
		<string>[crazy]</string>
		<key>gif</key>
		<string>d_zhuakuang.gif</string>
		<key>png</key>
		<string>d_zhuakuang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[heng]</string>
		<key>cht</key>
		<string>[heng]</string>
		<key>gif</key>
		<string>d_heng.gif</string>
		<key>png</key>
		<string>d_heng.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[lovely]</string>
		<key>cht</key>
		<string>[lovely]</string>
		<key>gif</key>
		<string>d_keai.gif</string>
		<key>png</key>
		<string>d_keai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[anger]</string>
		<key>cht</key>
		<string>[anger]</string>
		<key>gif</key>
		<string>d_nu.gif</string>
		<key>png</key>
		<string>d_nu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[sweat]</string>
		<key>cht</key>
		<string>[sweat]</string>
		<key>gif</key>
		<string>d_han.gif</string>
		<key>png</key>
		<string>d_han.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[shy]</string>
		<key>cht</key>
		<string>[shy]</string>
		<key>gif</key>
		<string>d_haixiu.gif</string>
		<key>png</key>
		<string>d_haixiu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[sleep]</string>
		<key>cht</key>
		<string>[sleep]</string>
		<key>gif</key>
		<string>d_shuijiao.gif</string>
		<key>png</key>
		<string>d_shuijiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[money]</string>
		<key>cht</key>
		<string>[money]</string>
		<key>gif</key>
		<string>d_qian.gif</string>
		<key>png</key>
		<string>d_qian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[laughing]</string>
		<key>cht</key>
		<string>[laughing]</string>
		<key>gif</key>
		<string>d_touxiao.gif</string>
		<key>png</key>
		<string>d_touxiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[laughcry]</string>
		<key>cht</key>
		<string>[laughcry]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_xiaoku.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[doge]</string>
		<key>cht</key>
		<string>[doge]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_doge.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[cat]</string>
		<key>cht</key>
		<string>[cat]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_miao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[cool]</string>
		<key>cht</key>
		<string>[cool]</string>
		<key>gif</key>
		<string>d_ku.gif</string>
		<key>png</key>
		<string>d_ku.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[decline]</string>
		<key>cht</key>
		<string>[decline]</string>
		<key>gif</key>
		<string>d_shuai.gif</string>
		<key>png</key>
		<string>d_shuai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[shutup]</string>
		<key>cht</key>
		<string>[shutup]</string>
		<key>gif</key>
		<string>d_bizui.gif</string>
		<key>png</key>
		<string>d_bizui.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[despise]</string>
		<key>cht</key>
		<string>[despise]</string>
		<key>gif</key>
		<string>d_bishi.gif</string>
		<key>png</key>
		<string>d_bishi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[colour]</string>
		<key>cht</key>
		<string>[colour]</string>
		<key>gif</key>
		<string>d_huaxin.gif</string>
		<key>png</key>
		<string>d_huaxin.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[applause]</string>
		<key>cht</key>
		<string>[applause]</string>
		<key>gif</key>
		<string>d_guzhang.gif</string>
		<key>png</key>
		<string>d_guzhang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[sad]</string>
		<key>cht</key>
		<string>[sad]</string>
		<key>gif</key>
		<string>d_beishang.gif</string>
		<key>png</key>
		<string>d_beishang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[think]</string>
		<key>cht</key>
		<string>[think]</string>
		<key>gif</key>
		<string>d_sikao.gif</string>
		<key>png</key>
		<string>d_sikao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[fallill]</string>
		<key>cht</key>
		<string>[fallill]</string>
		<key>gif</key>
		<string>d_shengbing.gif</string>
		<key>png</key>
		<string>d_shengbing.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[kiss]</string>
		<key>cht</key>
		<string>[kiss]</string>
		<key>gif</key>
		<string>d_qinqin.gif</string>
		<key>png</key>
		<string>d_qinqin.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[curse]</string>
		<key>cht</key>
		<string>[curse]</string>
		<key>gif</key>
		<string>d_numa.gif</string>
		<key>png</key>
		<string>d_numa.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[happy]</string>
		<key>cht</key>
		<string>[happy]</string>
		<key>gif</key>
		<string>d_taikaixin.gif</string>
		<key>png</key>
		<string>d_taikaixin.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[superciliouslook]</string>
		<key>cht</key>
		<string>[superciliouslook]</string>
		<key>gif</key>
		<string>d_landelini.gif</string>
		<key>png</key>
		<string>d_landelini.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[righthem]</string>
		<key>cht</key>
		<string>[righthem]</string>
		<key>gif</key>
		<string>d_youhengheng.gif</string>
		<key>png</key>
		<string>d_youhengheng.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[lefthem]</string>
		<key>cht</key>
		<string>[lefthem]</string>
		<key>gif</key>
		<string>d_zuohengheng.gif</string>
		<key>png</key>
		<string>d_zuohengheng.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[hush]</string>
		<key>cht</key>
		<string>[hush]</string>
		<key>gif</key>
		<string>d_xu.gif</string>
		<key>png</key>
		<string>d_xu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[grievance]</string>
		<key>cht</key>
		<string>[grievance]</string>
		<key>gif</key>
		<string>d_weiqu.gif</string>
		<key>png</key>
		<string>d_weiqu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[spit]</string>
		<key>cht</key>
		<string>[spit]</string>
		<key>gif</key>
		<string>d_tu.gif</string>
		<key>png</key>
		<string>d_tu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[poor]</string>
		<key>cht</key>
		<string>[poor]</string>
		<key>gif</key>
		<string>d_kelian.gif</string>
		<key>png</key>
		<string>d_kelian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[yawn]</string>
		<key>cht</key>
		<string>[yawn]</string>
		<key>gif</key>
		<string>d_dahaqi.gif</string>
		<key>png</key>
		<string>d_dahaqi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[blinktheeyes]</string>
		<key>cht</key>
		<string>[blinktheeyes]</string>
		<key>gif</key>
		<string>d_jiyan.gif</string>
		<key>png</key>
		<string>d_jiyan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[disappointment]</string>
		<key>cht</key>
		<string>[disappointment]</string>
		<key>gif</key>
		<string>d_shiwang.gif</string>
		<key>png</key>
		<string>d_shiwang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[top]</string>
		<key>cht</key>
		<string>[top]</string>
		<key>gif</key>
		<string>d_ding.gif</string>
		<key>png</key>
		<string>d_ding.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[doubt]</string>
		<key>cht</key>
		<string>[doubt]</string>
		<key>gif</key>
		<string>d_yiwen.gif</string>
		<key>png</key>
		<string>d_yiwen.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[sleepy]</string>
		<key>cht</key>
		<string>[sleepy]</string>
		<key>gif</key>
		<string>d_kun.gif</string>
		<key>png</key>
		<string>d_kun.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[cold]</string>
		<key>cht</key>
		<string>[cold]</string>
		<key>gif</key>
		<string>d_ganmao.gif</string>
		<key>png</key>
		<string>d_ganmao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[bye]</string>
		<key>cht</key>
		<string>[bye]</string>
		<key>gif</key>
		<string>d_baibai.gif</string>
		<key>png</key>
		<string>d_baibai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[blackline]</string>
		<key>cht</key>
		<string>[blackline]</string>
		<key>gif</key>
		<string>d_heixian.gif</string>
		<key>png</key>
		<string>d_heixian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[sinister]</string>
		<key>cht</key>
		<string>[sinister]</string>
		<key>gif</key>
		<string>d_yinxian.gif</string>
		<key>png</key>
		<string>d_yinxian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[face]</string>
		<key>cht</key>
		<string>[face]</string>
		<key>gif</key>
		<string>d_dalian.gif</string>
		<key>png</key>
		<string>d_dalian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[dumbfounded]</string>
		<key>cht</key>
		<string>[dumbfounded]</string>
		<key>gif</key>
		<string>d_shayan.gif</string>
		<key>png</key>
		<string>d_shayan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[follow]</string>
		<key>cht</key>
		<string>[follow]</string>
		<key>gif</key>
		<string>f_hufen.gif</string>
		<key>png</key>
		<string>f_hufen.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[heart]</string>
		<key>cht</key>
		<string>[heart]</string>
		<key>gif</key>
		<string>l_xin.gif</string>
		<key>png</key>
		<string>l_xin.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[sad1]</string>
		<key>cht</key>
		<string>[sad1]</string>
		<key>gif</key>
		<string>l_shangxin.gif</string>
		<key>png</key>
		<string>l_shangxin.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[pig]</string>
		<key>cht</key>
		<string>[pig]</string>
		<key>gif</key>
		<string>d_zhutou.gif</string>
		<key>png</key>
		<string>d_zhutou.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[panda]</string>
		<key>cht</key>
		<string>[panda]</string>
		<key>gif</key>
		<string>d_xiongmao.gif</string>
		<key>png</key>
		<string>d_xiongmao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[rabbit]</string>
		<key>cht</key>
		<string>[rabbit]</string>
		<key>gif</key>
		<string>d_tuzi.gif</string>
		<key>png</key>
		<string>d_tuzi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[handshake]</string>
		<key>cht</key>
		<string>[handshake]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>h_woshou.png</string>
		<key>type</key>
		<string></string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[bow]</string>
		<key>cht</key>
		<string>[bow]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>h_zuoyi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[fabulous]</string>
		<key>cht</key>
		<string>[fabulous]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>h_zan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[yeah]</string>
		<key>cht</key>
		<string>[yeah]</string>
		<key>gif</key>
		<string>h_ye.gif</string>
		<key>png</key>
		<string>h_ye.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[good]</string>
		<key>cht</key>
		<string>[good]</string>
		<key>gif</key>
		<string>h_good.gif</string>
		<key>png</key>
		<string>h_good.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[weak]</string>
		<key>cht</key>
		<string>[weak]</string>
		<key>gif</key>
		<string>h_ruo.gif</string>
		<key>png</key>
		<string>h_ruo.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[no]</string>
		<key>cht</key>
		<string>[no]</string>
		<key>gif</key>
		<string>h_buyao.gif</string>
		<key>png</key>
		<string>h_buyao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[ok]</string>
		<key>cht</key>
		<string>[ok]</string>
		<key>gif</key>
		<string>h_ok.gif</string>
		<key>png</key>
		<string>h_ok.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[haha1]</string>
		<key>cht</key>
		<string>[haha1]</string>
		<key>gif</key>
		<string>h_haha.gif</string>
		<key>png</key>
		<string>h_haha.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[come]</string>
		<key>cht</key>
		<string>[come]</string>
		<key>gif</key>
		<string>h_lai.gif</string>
		<key>png</key>
		<string>h_lai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[fist]</string>
		<key>cht</key>
		<string>[fist]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>h_quantou.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[mighty]</string>
		<key>cht</key>
		<string>[mighty]</string>
		<key>gif</key>
		<string>f_v5.gif</string>
		<key>png</key>
		<string>f_v5.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[flower]</string>
		<key>cht</key>
		<string>[flower]</string>
		<key>gif</key>
		<string>w_xianhua.gif</string>
		<key>png</key>
		<string>w_xianhua.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[clock]</string>
		<key>cht</key>
		<string>[clock]</string>
		<key>gif</key>
		<string>o_zhong.gif</string>
		<key>png</key>
		<string>o_zhong.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[cloud]</string>
		<key>cht</key>
		<string>[cloud]</string>
		<key>gif</key>
		<string>w_fuyun.gif</string>
		<key>png</key>
		<string>w_fuyun.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[aircraft]</string>
		<key>cht</key>
		<string>[aircraft]</string>
		<key>gif</key>
		<string>o_feiji.gif</string>
		<key>png</key>
		<string>o_feiji.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[moon]</string>
		<key>cht</key>
		<string>[moon]</string>
		<key>gif</key>
		<string>w_yueliang.gif</string>
		<key>png</key>
		<string>w_yueliang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[sun]</string>
		<key>cht</key>
		<string>[sun]</string>
		<key>gif</key>
		<string>w_taiyang.gif</string>
		<key>png</key>
		<string>w_taiyang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[wind]</string>
		<key>cht</key>
		<string>[wind]</string>
		<key>gif</key>
		<string>w_weifeng.gif</string>
		<key>png</key>
		<string>w_weifeng.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[rain]</string>
		<key>cht</key>
		<string>[rain]</string>
		<key>gif</key>
		<string>w_xiayu.gif</string>
		<key>png</key>
		<string>w_xiayu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[awesome]</string>
		<key>cht</key>
		<string>[awesome]</string>
		<key>gif</key>
		<string>f_geili.gif</string>
		<key>png</key>
		<string>f_geili.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[what]</string>
		<key>cht</key>
		<string>[what]</string>
		<key>gif</key>
		<string>f_shenma.gif</string>
		<key>png</key>
		<string>f_shenma.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[see]</string>
		<key>cht</key>
		<string>[see]</string>
		<key>gif</key>
		<string>o_weiguan.gif</string>
		<key>png</key>
		<string>o_weiguan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[microphone]</string>
		<key>cht</key>
		<string>[microphone]</string>
		<key>gif</key>
		<string>o_huatong.gif</string>
		<key>png</key>
		<string>o_huatong.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[ultraman]</string>
		<key>cht</key>
		<string>[ultraman]</string>
		<key>gif</key>
		<string>d_aoteman.gif</string>
		<key>png</key>
		<string>d_aoteman.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[fuck]</string>
		<key>cht</key>
		<string>[fuck]</string>
		<key>gif</key>
		<string>shenshou_thumb.gif</string>
		<key>png</key>
		<string>d_shenshou.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[adorable]</string>
		<key>cht</key>
		<string>[adorable]</string>
		<key>gif</key>
		<string>f_meng.gif</string>
		<key>png</key>
		<string>f_meng.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[jiong]</string>
		<key>cht</key>
		<string>[jiong]</string>
		<key>gif</key>
		<string>f_jiong.gif</string>
		<key>png</key>
		<string>f_jiong.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[weave]</string>
		<key>cht</key>
		<string>[weave]</string>
		<key>gif</key>
		<string>f_zhi.gif</string>
		<key>png</key>
		<string>f_zhi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[gift]</string>
		<key>cht</key>
		<string>[gift]</string>
		<key>gif</key>
		<string>o_liwu.gif</string>
		<key>png</key>
		<string>o_liwu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[happiness]</string>
		<key>cht</key>
		<string>[happiness]</string>
		<key>gif</key>
		<string>f_xi.gif</string>
		<key>png</key>
		<string>f_xi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[collar]</string>
		<key>cht</key>
		<string>[collar]</string>
		<key>gif</key>
		<string>o_weibo.gif</string>
		<key>png</key>
		<string>o_weibo.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[music]</string>
		<key>cht</key>
		<string>[music]</string>
		<key>gif</key>
		<string>o_yinyue.gif</string>
		<key>png</key>
		<string>o_yinyue.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[greenribbon]</string>
		<key>cht</key>
		<string>[greenribbon]</string>
		<key>gif</key>
		<string>o_lvsidai.gif</string>
		<key>png</key>
		<string>o_lvsidai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[cake]</string>
		<key>cht</key>
		<string>[cake]</string>
		<key>gif</key>
		<string>o_dangao.gif</string>
		<key>png</key>
		<string>o_dangao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[candle]</string>
		<key>cht</key>
		<string>[candle]</string>
		<key>gif</key>
		<string>o_lazhu.gif</string>
		<key>png</key>
		<string>o_lazhu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[cheers]</string>
		<key>cht</key>
		<string>[cheers]</string>
		<key>gif</key>
		<string>o_ganbei.gif</string>
		<key>png</key>
		<string>o_ganbei.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[boy]</string>
		<key>cht</key>
		<string>[boy]</string>
		<key>gif</key>
		<string>d_nanhaier.gif</string>
		<key>png</key>
		<string>d_nanhaier.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[girl]</string>
		<key>cht</key>
		<string>[girl]</string>
		<key>gif</key>
		<string>d_nvhaier.gif</string>
		<key>png</key>
		<string>d_nvhaier.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[soap]</string>
		<key>cht</key>
		<string>[soap]</string>
		<key>gif</key>
		<string>d_feizao.gif</string>
		<key>png</key>
		<string>d_feizao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[camera]</string>
		<key>cht</key>
		<string>[camera]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>o_zhaoxiangji.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[sina]</string>
		<key>cht</key>
		<string>[sina]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>d_lang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[sandstorm]</string>
		<key>cht</key>
		<string>[sandstorm]</string>
		<key>gif</key>
		<string>w_shachenbao.gif</string>
		<key>png</key>
		<string>w_shachenbao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
